/* ==========================================================================
   DAN'S CUSTOM STYLESHEET
   ========================================================================== */

/* External links (page__content only) */
/* https://stackoverflow.com/questions/5379752/css-style-external-links */
.page__content a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//stackoverflow.com"],
  /* subdomains to exclude */
  [href*="//meta.stackoverflow.com"],
  /* serving locally */
  [href*="localhost"]
)) {
  color: $link-color-external;
  
  /* Add ↗️ after external links... */
  &:after {
    content: '↗️';
	vertical-align: super;
	line-height: 0.5;
  }
  
  /* ...but not for social-icons */
  .social-icons & {
    &:after {
			content: '';
		}
  }
}

/* Animate citations */
a.citation {
  background-color: transparent;
  transition: background-color 0.2s linear;
	
	&:hover {
		background-color: lightpink;
	}
}


/* CV tables */
.cv-table {
	border: none;
	font-size: 1em;
	margin-bottom: 0;
	
	td {
		border: none;
		vertical-align: top;
		padding-left: 0;
	}
	
	p {
		margin: 0;
	}
}

/* Make room for "in press" etc. */
.cite-table td:first-child {
    width: 5em;
}

/* Headings */
/* Sticky heading solution courtesy of https://stackoverflow.com/a/55941740 */

h1, h2, h3, h4 {
	font-family: $serif;
}
h2, h3 {
	// margin-top: 1em;
	margin-top: 0;
}
h1 {
	font-size: $type-size-2;
}
h2 {
	font-size: $type-size-3;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: #ddd;
	z-index: 3;
}
h3 {
	font-size: $type-size-4;
	position: sticky;
	top: 1.5em;
	background: #eee;
	z-index: 2;
}
h4, h5 {
	margin-top: 1em;
	font-size: $type-size-5;
}
h4 {
	font-style: italic;
}

.level2 {
  padding: 24px 0 0 0;
}

ul {
	margin-top: 0px;
}

//Don't cover up internal targets with sticky headings (not currently working)
div.archive {
	scroll-padding-top: 50px;
}

// Override default
.page__content h2 {
  padding-bottom: 0px;
}


//Displaying abstracts
.abstract {
	padding-left: 1em;
}
.selected {
	font-weight: bold;
}
.abstract-link {
	transition: unset;
	cursor: pointer;
}
